body{
	background-position: center;
	background-color: #ecebd7;
}

h1{
	color: #e65f5b;
	font-family: Helvetica;
	font-size: 18pt;
	padding-left: 68px;
	margin-top: 55px;
	text-align: center;
	padding: 40px;
}

img{
	width: 800px;
	height: 800px;
	border-radius: 1000px;
}

.flex { 
    display: flex; 
    justify-content: center; 
    align-items: center;
}